<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">CookBook</a>
    <ul class="nav-links">
      <% if (user) { %>
        <li><a href="/recipes" class="nav-link">My Recipes</a></li>
        <li><a href="/ingredients" class="nav-link">Ingredients</a></li>
        <li><a href="/users" class="nav-link">Community</a></li>
        <li><a href="/auth/sign-out" class="nav-link">Sign Out</a></li>
      <% } else { %>
        <li><a href="/auth/sign-in" class="nav-link">Sign In</a></li>
        <li><a href="/auth/sign-up" class="nav-link">Sign Up</a></li>
      <% } %>
    </ul>
  </div>
</nav>