<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CookBook - Home</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <%- include('./partials/_navbar.ejs') %>
  <div class="container home-container">
    <% if (user) { %>
      <h1>Welcome back, <%= user.username %>!</h1>
      <p>Ready to cook something delicious? Check out your <a href="/recipes">recipes</a> or <a href="/ingredients">ingredients</a>.</p>
    <% } else { %>
      <h1>Welcome to CookBook</h1>
      <p>Your personal recipe collection awaits! Sign up or sign in to get started.</p>
    <% } %>
  </div>
</body>
</html>